@font-face {
	font-family: great-vibes;
	src: url(./fonts/great-vibes/great-vibes.otf);
}

@font-face {
	font-family: monoton;
	src: url(./fonts/monoton/monoton.ttf);
}

@font-face {
	font-family: ues;
	src: url(./fonts/ues/ues.ttf);
}

@font-face {
	font-family: mb;
	src: url(./fonts/mb/mb.otf);
}

body
{
	margin: 0;
	padding: 0;
	background: #1c1d25;
}

body section
{
	height: 100%;
	width: 100%;
}


.ilb {
	display: inline-block;
}

h1 
{
	text-align: center;
	text-indent: -.12em;
	color: #DFE0E2;
	font: 190px "anchor-web-1","anchor-web-2", 'Impact', sans-serif;
	font-weight: 900;
	display: inline-block;
	margin: 0 auto;
	line-height: 1;
	width: 100%;
	text-shadow: #4b4c5a .01em .01em 0, #4b4c5a .02em .02em 0, #4b4c5a .03em .03em 0, #4b4c5a .04em .04em 0, #4b4c5a .05em .05em 0, #4b4c5a .06em .06em 0, #4b4c5a .07em .07em 0,	#4b4c5a .08em .08em 0, #4b4c5a .09em .09em 0, #4b4c5a .1em .1em 0;
}

h1 p {
	margin-top: 0;
	margin-bottom: 20px;
}

.monoton
{
	font-family: monoton;
}

.hide {
	display: none; 
}

.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 50px;
	width: 50px;
	border-radius: 50em;
	background-color: rgb(253,228,216);

}




.ues {
	font-family: ues;
}
.mb {
	font-family: mb;
}
.great-vibes
{
	font-family: great-vibes;
}